<aside class="sidebar">
    <div class="widget">
        <h3 class="widgettitle">Genres</h3>
        <ul>
            <li ng-repeat="genre in genres">
                <a ng-click="getByGenre(genre.id, genre.name)">{{ genre.name }}</a>
            </li>
        </ul>
    </div>
    <div class="widget">
        <h3 class="widgettitle">Opening This Week</h3>
        <ul>
            <li ng-repeat="upcomingFilm in upcomingFilms">
                <a ui-sref="list({listUrl: upcomingFilm.original_title, film: upcomingFilm})">{{ upcomingFilm.original_title }}<strong>{{ upcomingFilm.vote_average }}</strong></a>
            </li>
        </ul>
    </div>
    <div class="widget socials-widget">
        <h3 class="widgettitle">Get Connected</h3>
        <ul>
            <li><a href="https://www.facebook.com/themoviedb/" class="facebook-ico"><span></span>Facebook</a></li>
            <li><a href="https://twitter.com/themoviedb?lang=en" class="twitter-ico"><span></span>Twitter</a></li>
            <li><a href="https://www.linkedin.com/company/themoviedb.org" class="linkedin-ico"><span></span>Linkedin</a></li>
            <li><a href="https://www.youtube.com/user/TheMovieDB" class="you-tube-ico"><span></span>Youtube</a></li>
            <li><a href="https://www.themoviedb.org/talk/51ed482d19c29534f35438a7?language=en" class="rss-ico"><span></span>RSS</a></li>
        </ul>
    </div>
</aside>