<div id="wrapper">
  <div class="light-bg">
    <!-- shell -->
    <div class="shell">
      <!-- header -->
      <div class="header">
        <!-- socials -->
        <div class="socials"> <a href="#" class="facebook-ico">facebook-ico</a> <a href="#" class="twitter-ico">twitter-ico</a> <a href="#" class="you-tube-ico">you-tube-ico</a> </div>
        <!-- end of socials -->
        <h1 id="logo"><a href="#">Moviereviews</a></h1>
        <!-- navigation -->
        <nav id="navigation">
          <ul>
            <li><a href="#">SHOW ALL</a></li>
            <li><a ui-sref="list({listUrl: 'Latest', film: null})">LATEST MOVIES <span>20</span></a></li>
            <li><a href="#">TOP RATED</a></li>
            <li><a href="#">MOST COMMENTED</a></li>
          </ul>
        </nav>
        <!-- end of navigation -->
        <div class="cl">&nbsp;</div>
      </div>
      <!-- end of header -->
      <!-- main -->
      <div class="main">
        <!-- content -->
        <section class="content">
          <!-- post -->
          <div class="post" ng-repeat="movie in movies">
            <!-- post-inner -->
            <div class="post-inner">
              <header>
                <h2><a href="#">{{ movie.title}}</a></h2>
                <p class="tags">
                  <a ng-repeat="genre in movie.genres">{{ genre.name.toUpperCase() }}</a>
                </p>
                <div class="cl"></div>
              </header>
              <div class="img-holder"> 
                <a href="#">
                  <img ng-src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"  alt="{{movies.imagePath}}">
                </a> 
                <a href="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" class="btn-full-image popup">
                  <span>FULL IMAGE</span>
                </a> 
              </div>
              <!-- meta -->
              <div class="meta">
                <p class="date">{{ movie.release_date | date: YYMMDD}} <a href="#">{{ movie.productionCompanies[0].name }}</a></p>
                <div class="right">
                  <div class="rating-holder">
                    <p>RATING</p>
                    <div class="rating"> <span style="width: 100%;"></span> </div>
                  </div>
                  <a href="#" class="comments">{{ movie.vote_count }} comments</a> </div>
                <div class="cl">&nbsp;</div>
              </div>
              <!-- end of meta -->
              <div class="post-cnt">
                <p> {{ movie.overview }}</p>
                <a ui-sref="list({listUrl: movie.title, film: movie})" class="more">CONTINUE READING</a></div>
            </div>
            <!-- post-inner -->
          </div>

          <div class="pagination">
            <ul>
              <li class="laquo"><a href="#"><span></span></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li class="raquo"><a href="#"><span></span></a></li>
              <li><a href="#">10</a></li>
              <li class="dots">. . .</li>
              <li><a href="#">last</a></li>
            </ul>
          </div>
        </section>
        <!-- end of content -->
        <!-- sidebar -->
        <sidebar-directive></sidebar-directive>
        <!-- end of sidebar -->
        <div class="cl"></div>
      </div>
      <!-- end of main -->
      <div class="footer">
        <nav class="footer-nav">
          <ul>
            <li><a ui-sref="main">Show All</a></li>
            <li><a ui-sref="lists({listUrl: 'test', list: movies})">Latest Movies</a></li>
            <li><a href="#">Top Rated</a></li>
            <li><a href="#">Most Commented</a></li>
          </ul>
        </nav>
        <p class="copy">Copyright &copy; 2012 <span>|</span> Sitename. Design by <a target="_blank" href="http://chocotemplates.com">ChocoTemplates</a></p>
      </div>
    </div>
    <!-- end of shell -->
  </div>
</div>